*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  }
  html{
    font-family: 'Lato', sans-serif;
  }
:root{
  --black: black;
  --wine: #730D15;
  --red: #f20519;
  --gray: gray;
  --gray2: #262626;
  --white: #f4f5f0;
    }

/*This is form 0 px to 760 px */

.navbar{
  display: flex;
  height: 48px;
  background-color: var(--gray2);
  border-bottom: 3px solid var(--red);
  color: var(--white);
}
.logo{
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 5%;
}
#burguer-menu{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 5%;
}
#logo-dat{
  font-size: 5px;
  padding: 0;
  margin: 0;
  color: var(--red);
  height: 1rem;
  display: flex;
  align-items: flex-end;
}
.welcome-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; ;
  height: 95vh;
  background-color: var(--black);
  color: var(--white);
}
.welcome-section h1{
  font-size:3.5rem;
  line-height: 4rem;
  text-align: left;
  font-weight: 700px;
  word-spacing: 0.35px;
  width: 85%;
  color: var(--white);
  text-shadow: 0 0 10px var(--red);
}
.welcome-section h1 span{
  color: var(--red);
}
.welcome-section h2{
  font-size: 1.5rem;
  width: 85%;
  text-align: left;
  font-style: bold;
  margin-top: 12px;
}
.welcome-section p{
  font-size 1rem;
  font-weight: 400px;
  width: 85%;
  line-height: 1.5rem;
  margin-top: 12px;
  word-spacing: 1px;
}
.social-icons{
  display: flex;
  font-size: 20px;
  width: 85%;
  margin-top: 20px;
}
.social-icons i{
  margin-right: 15px;
  margin-left: 5px;
  color: var(--gray);
  cursor: pointer;
  text-shadow: 0 0 3px var(--red);
}
.vectors{
  
}
.vector_1{
  position: absolute;
  top: 60%;
  left: 97%;
}
.vector_2{
  position: absolute;
  left: 80%;
  z-index: 2;
}
.vector_3{
  position: absolute;
  left: 80%;
  top: 80%;
  z-index: 1;
}
.vector_4{
  position: absolute;
  left: 82%;
  top:75%;
  z-index: 4;
}
.vector_5{
  position: absolute;
  left: 82%;
  top:77%;
  z-index: 3;
}
.vector_6{
  position: absolute;
  left: 83%;
  top:81%;
  z-index: 5;
}
.vector_7{
  position: absolute;
  z-index: 5;
  left: 90%;
  top: 87%;
}
.vector_8{
  position: absolute;
  z-index: 0;
  left: 87%;
  top: 80%;
}
.vector_9{
  position: absolute;
  top: 97%;
  left: 89%;
}
.vector_10{
  position: absolute;
  top: 96%;
  left: 94%;
}
.vector_11{
  position: absolute;
  top: 93%;
  left:97%
}
.vector_12{
  position: absolute;
  top: 97%;
  left: 97%;
}


  